<%#                ここの data-room_id を使ってjs側で部屋を見分ける %>

<div id='messages'>
  <%= render @messages %>
</div>

<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>